{% extends 'main_content.html' %}

{% block  content %}
<h1>Listado de Clientes</h1>
<table class="table" id="data">
  <thead>
    <tr>
      <th scope="col">ID #</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Correo</th>
      <th scope="col">Fecha</th>
    </tr>
  </thead>
  <tbody>
    {% for cliente in lista_clientes %}
    <tr>
      <!-- <th scope="row">1</th> -->
      <td>{{cliente.id}}</td>
      <td>{{cliente.first_name}}</td>
      <td>{{cliente.last_name}}</td>
      <td>{{cliente.email}}</td>
      <td>{{cliente.joined_datetime}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}