{% extends 'main_content.html' %}

{% block content %}
    <div class="container">
        <form class="text-center my-5" method="POST" action="updateLibro">
        {% csrf_token %}
            <input type="hidden" name="id" value="{{getBook.id}}">
            <div class="mb-3">
                <label for="titulo" class="form-label">Titulo:</label>
                <input type="text" class="form-control" id="titulo" value="{{ getBook.title }}" name="titulo" placeholder="Ingrese Título">
            </div>
            <div class="mb-3">
                <a class="btn btn-primary" href="/librosPublicadoresMant" role="button">Volver</a>
                <input type="submit" class="btn btn-success" value="Actualizar datos">
            </div>
        </form>

    <h1>Publicadores Asociados</h1>
    <table class="table" id="data">
      <thead>
        <tr>
          <th scope="col">ID #</th>
          <th scope="col">Nombre</th>
          <th scope="col">Fecha Creación</th>
        </tr>
      </thead>
      <tbody>
        {% for publicador in getBook.publishers.all %} 
        <tr>
          <!-- <th scope="row">1</th> -->
          <td>{{publicador.id}}</td>
          <td>{{publicador.name}}</td>
          <td>{{publicador.created_at}}</td>
          <td>
              <form action="deleteRelacion" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="idLibro" value="{{getBook.id}}">
                  <input type="hidden" name="idPub" value="{{publicador.id}}">
                  <button type="submit" class="btn btn-sm btn-outline-danger">Eliminar Relacion</button>
              </form>
          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>

    </div>
{% endblock %}