{% extends 'main_content.html' %}

{% block content %}
    <div class="container">
        <form class="text-center my-5" method="POST" action="updateLibro">
        {% csrf_token %}
            <input type="hidden" name="id" value="{{getBook.id}}">
            <div class="mb-3">
                <label for="titulo" class="form-label">Titulo:</label>
                <input type="text" class="form-control" id="titulo" value="{{ getBook.title }}" name="titulo" placeholder="Ingrese Título">
            </div>
            <div class="mb-3">
                <a class="btn btn-primary" href="/librosPublicadoresMant" role="button">Volver</a>
                <input type="submit" class="btn btn-success" value="Actualizar datos">
            </div>
        </form>
    </div>
{% endblock %}