{% extends 'main_content.html' %}

{% block content %}
    <h1>Listado de Publicadores</h1>

    <p>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#nuevoPub" aria-expanded="false" aria-controls="nuevoPub">
                Nuevo Publicador ( Ingresar/No Ingresar ) 
      </button>
    </p>

        <div class="collapse" id="nuevoPub">
            <form class="text-center my-5" method="POST" action="admcreatePub">
            {% csrf_token %}
                <div class="mb-3">
                    <label for="namePub" class="form-label">Nuevo Publicador: </label>
                    <input type="text" size = 50 align = "center" id="namePub" name="namePub" placeholder="Ingrese Nombre del Publicador">
                </div>
                <div class="mb-3">
                    <input type="submit" class="btn btn-success" value="Enviar datos">
                </div>
            </form>
        </div>

    <table class="table" id="data">
      <thead>
        <tr>
          <th scope="col">ID #</th>
          <th scope="col">Nombre</th>
          <th scope="col">Sus Libros</th>
          <th scope="col">Fecha Creación</th>
          <th scope="col">Acción</th>
        </tr>
      </thead>
      <tbody>
        {% for publicador in lista_publicadores %}
        <tr>
          <!-- <th scope="row">1</th> -->
          <td>{{publicador.id}}</td>
          <td>{{publicador.name}}</td>
          <td> 
            {% for book in publicador.books.all %} 
                / {{ book.title }}
            {% endfor%}
          </td>
          <td>{{publicador.created_at}}</td>
          <td>
              <form action="admgetPub" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="id" value="{{publicador.id}}">
                  <button type="submit" class="btn btn-sm btn-outline-warning">Editar Publicador</button>
              </form>
              <form action="admdeletePub" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="id" value="{{publicador.id}}">
                  <button type="submit" class="btn btn-sm btn-outline-danger">Eliminar Publicador</button>
              </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

<h1>Listado de Libros</h1>
<div class="container">
    <p>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#nuevoLibro" aria-expanded="false" aria-controls="nuevoLibro">
                Nuevo Libro ( Ingresar/No Ingresar ) 
      </button>
    </p>

        <div class="collapse" id="nuevoLibro">
            <form class="text-center my-5" method="POST" action="admcreateLibro">
            {% csrf_token %}
                <div class="mb-3">
                    <label for="librotitulo" class="form-label">Nuevo Libro: </label>
                    <input type="text" size = 50 align = "center" id="librotitulo" name="librotitulo" placeholder="Ingrese Título del Libro">
                </div>
                <div class="mb-3">
                    <input type="submit" class="btn btn-success" value="Enviar datos">
                </div>
            </form>
        </div>

    <table class="table" id="data">
      <thead>
        <tr>
          <th scope="col">ID #</th>
          <th scope="col">Título</th>
          <th scope="col">Sus Publicadores</th>
          <th scope="col">Fecha Creación</th>
          <th scope="col">Acción</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for libro in lista_libros %}
        <tr>
          <!-- <th scope="row">1</th> -->
          <td>{{libro.id}}</td>
          <td>{{libro.title}}</td>
          <td> 
            {% for publicador in libro.publishers.all %} 
                / {{ publicador.name }} 
            {% endfor%}
          </td>
          <td>{{libro.created_at}}</td>
          <td>
              <form action="admgetLibro" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="id" value="{{libro.id}}">
                  <button type="submit" class="btn btn-sm btn-outline-warning">Editar Libro</button>
              </form>
              <form action="admdeleteLibro" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="id" value="{{libro.id}}">
                  <button type="submit" class="btn btn-sm btn-outline-danger">Eliminar Libro</button>
              </form>
              <form action="admagregaRelacionLibroEditor" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="id" value="{{libro.id}}">
                  <button type="submit" class="btn btn-sm btn-outline-danger">Agregar Relacion Publicador</button>
              </form>
              <form action="admdeleteRelacionLibroEditor" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="id" value="{{libro.id}}">
                  <button type="submit" class="btn btn-sm btn-outline-danger">Eliminar Relacion Publicador</button>
              </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}
