{% extends 'main_content.html' %}

{% block  content %}
<h1>Listado de Sitios</h1>
<table class="table" id="data">
  <thead>
    <tr>
      <th scope="col">ID #</th>
      <th scope="col">Dominio</th>
      <th scope="col">Fecha Creación</th>
      <th scope="col">Cliente Email</th>
    </tr>
  </thead>
  <tbody>
    {% for sitio in lista_sitios %}
    <tr>
      <!-- <th scope="row">1</th> -->
      <td>{{sitio.id}}</td>
      <td>{{sitio.domain_name}}</td>
      <td>{{sitio.created_datetime}}</td>
      <td>{{sitio.client.email}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}