{% extends 'main_content.html' %}

{% block content %}
    <h5>Bienvenido, {{active_user.nombre}} !!!</h5>
    <br>
    <div class="container">
        <h1 align="center">Actualizar Dojo</h1>
        <form class="text-center my-5" method="POST" action="admupdateDojos">
        {% csrf_token %}
            <input type="hidden" name="id" value="{{getDojo.id}}">
                <div class="mb-3">
                    <label for="nameDojo" class="form-label">Dojo: </label>
                    <input type="text" size = 50 align = "center" id="nameDojo" name="nameDojo" value="{{getDojo.nombre}}" placeholder="Ingrese Nombre del Dojo">
                </div>
                <div class="mb-3">
                    <label for="ciudadDojo" class="form-label">Ciudad: </label>
                    <input type="text" size = 50 align = "center" id="ciudadDojo" name="ciudadDojo" value="{{getDojo.ciudad}}" placeholder="Ingrese Ciudad del Dojo">
                </div>
                <div class="mb-3">
                    <label for="estadoDojo" class="form-label">Estado:</label>
                    <div class="mb-3 form-check">
                        {% if getDojo.estado == "AC" %}
                            <input class="form-check-input" type="radio" id="estadoDojo" value="AC" name="estadoDojo" checked>
                        {% else %}
                            <input class="form-check-input" type="radio" id="estadoDojo" value="AC" name="estadoDojo">
                        {% endif %}
                        <label class="form-check-label" for="exampleRadios1">AC: Activo</label>
                    </div>
                    <div class="mb-3 form-check">
                        {% if getDojo.estado == "IN" %}
                            <input class="form-check-input" type="radio" id="estadoDojo" value="IN" name="estadoDojo" checked>
                        {% else %}
                            <input class="form-check-input" type="radio" id="estadoDojo" value="IN" name="estadoDojo">
                        {% endif %}
                        <label class="form-check-label" for="exampleRadios2">IN: Inactivo</label>
                    </div>
                </div>

            <div class="mb-3">
                <a class="btn btn-primary" href="/admDojosNinjas" role="button">Volver</a>
                <input type="submit" class="btn btn-success" value="Actualizar datos">
            </div>
        </form>
    </div>

{% endblock %}
